@model IEnumerable<Contoso_University.Models.Course>
@{
    ViewData["Title"] = "Courses";
}
<h1>Courses</h1>
<p>
    <a asp-action="Create">Create a new course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.CourseId) </th>
            <th> @Html.DisplayNameFor(model => model.Title) </th>
            <th> @Html.DisplayNameFor(model => model.Credits) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => course.CourseId) </td>
                <td> @Html.DisplayFor(modelItem => course.Title) </td>
                <td> @Html.DisplayFor(modelItem => course.Credits) </td>
                <td>
                    <a asp-action="Details" asp-route-id="@course.CourseId" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@course.CourseId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@course.CourseId" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>